numpy<=1.16.4
scipy
pandas
matplotlib
torch==1.3.*
torchvision==0.4.*
scikit-image
scikit-learn
jupyterlab
tqdm>=4.36
onnxruntime

# CUDA 10.0 dependencies (if required)
# You may need to install CUDA separately depending on your setup
